<app-dynamic-model-container></app-dynamic-model-container>

<button class="standard-modal" (click)="triggerStandardModal($event)">
  Standard Modal
</button>

<div>
  <div style="height: 420px" class="grid grid-cols-4 gap-10 grid-rows-2">
    <div class="row-start-1 row-end-3">
      <img style="width: 100%; height: 100%" src="https://images.unsplash.com/photo-1685665535340-c3b6d390a15f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
    </div>
    <div class="col-start-2 col-end-5">
      <img style="width: 100%; height: 100%" src="https://plus.unsplash.com/premium_photo-1675805015359-fda0a96d5842?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
    </div>
    <div class="col-start-2 col-end-4">
      <img style="width: 100%; height: 100%" src="https://plus.unsplash.com/premium_photo-1675805015359-fda0a96d5842?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
    </div>
    <div class="col-start-4 col-end-5">
      <img style="width: 100%; height: 100%" src="https://plus.unsplash.com/premium_photo-1675805015359-fda0a96d5842?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
    </div>
  </div>
</div>
